@font-face {
  font-family: "Bebas";
  src: url(/public/font/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Rosario";
  src: url(/public/font/Rosario-Italic-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas";
}
